In [ ]:
import pandas as pd

In [ ]:
data = pd.Series([1, 2, 3, 4])
print(data)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
data = pd.DataFrame({
    "Name": ["Alice", "Bob"],
    "Age": [24, 30]
})
print(data)

    Name  Age
0  Alice   24
1    Bob   30

In [ ]:
data = pd.read_csv("retail_store_inventory.csv")
print(data)

             Date Store ID Product ID     Category Region  Inventory Level  \
0      01-01-2022     S001      P0001    Groceries  North              231
1      01-01-2022     S001      P0002         Toys  South              204
2      01-01-2022     S001      P0003         Toys   West              102
3      01-01-2022     S001      P0004         Toys  North              469
4      01-01-2022     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73095  01-01-2024     S005      P0016    Furniture   East               96
73096  01-01-2024     S005      P0017         Toys  North              313
73097  01-01-2024     S005      P0018     Clothing   West              278
73098  01-01-2024     S005      P0019         Toys   East              374
73099  01-01-2024     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[73100 rows x 15 columns]

In [ ]:
print(data.shape)

(73100, 15)

In [ ]:
print(data.columns)

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [ ]:
print(data.index)

RangeIndex(start=0, stop=73100, step=1)

In [ ]:
print(data.dtypes)

Date                   object
Store ID               object
Product ID             object
Category               object
Region                 object
Inventory Level         int64
Units Sold              int64
Units Ordered           int64
Demand Forecast       float64
Price                 float64
Discount                int64
Weather Condition      object
Holiday/Promotion       int64
Competitor Pricing    float64
Seasonality            object
dtype: object

In [ ]:
print(data.head())

         Date Store ID Product ID     Category Region  Inventory Level  \
0  01-01-2022     S001      P0001    Groceries  North              231
1  01-01-2022     S001      P0002         Toys  South              204
2  01-01-2022     S001      P0003         Toys   West              102
3  01-01-2022     S001      P0004         Toys  North              469
4  01-01-2022     S001      P0005  Electronics   East              166

   Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0         127             55           135.47  33.50        20
1         150             66           144.04  63.01        20
2          65             51            74.02  27.99        10
3          61            164            62.18  32.72        10
4          14            135             9.26  73.64         0

  Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0             Rainy                  0               29.69      Autumn
1             Sunny                  0               66.16      Autumn
2             Sunny                  1               31.32      Summer
3            Cloudy                  1               34.74      Autumn
4             Sunny                  0               68.95      Summer

In [ ]:
print(data.tail())

             Date Store ID Product ID   Category Region  Inventory Level  \
73095  01-01-2024     S005      P0016  Furniture   East               96
73096  01-01-2024     S005      P0017       Toys  North              313
73097  01-01-2024     S005      P0018   Clothing   West              278
73098  01-01-2024     S005      P0019       Toys   East              374
73099  01-01-2024     S005      P0020  Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

In [ ]:
print(data.columns)

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [ ]:
print(data.index)

RangeIndex(start=0, stop=73100, step=1)

In [ ]:
print(data.shape)

(73100, 15)

In [ ]:
print(data.describe)

<bound method NDFrame.describe of              Date Store ID Product ID     Category Region  Inventory Level  \
0      01-01-2022     S001      P0001    Groceries  North              231
1      01-01-2022     S001      P0002         Toys  South              204
2      01-01-2022     S001      P0003         Toys   West              102
3      01-01-2022     S001      P0004         Toys  North              469
4      01-01-2022     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73095  01-01-2024     S005      P0016    Furniture   East               96
73096  01-01-2024     S005      P0017         Toys  North              313
73097  01-01-2024     S005      P0018     Clothing   West              278
73098  01-01-2024     S005      P0019         Toys   East              374
73099  01-01-2024     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[73100 rows x 15 columns]>

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  object
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Weather Condition   73100 non-null  object
 12  Holiday/Promotion   73100 non-null  int64
 13  Competitor Pricing  73100 non-null  float64
 14  Seasonality         73100 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 8.4+ MB

In [ ]:
data.isnull()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73096,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73097,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73098,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73099,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
print(data["Region"])

0        North
1        South
2         West
3        North
4         East
         ...
73095     East
73096    North
73097     West
73098     East
73099     East
Name: Region, Length: 73100, dtype: object

In [ ]:
print(data[1:3])

         Date Store ID Product ID Category Region  Inventory Level  \
1  01-01-2022     S001      P0002     Toys  South              204
2  01-01-2022     S001      P0003     Toys   West              102

   Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
1         150             66           144.04  63.01        20
2          65             51            74.02  27.99        10

  Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
1             Sunny                  0               66.16      Autumn
2             Sunny                  1               31.32      Summer

In [ ]:
print(data.loc[0])

Date                  01-01-2022
Store ID                    S001
Product ID                 P0001
Category               Groceries
Region                     North
Inventory Level              231
Units Sold                   127
Units Ordered                 55
Demand Forecast           135.47
Price                       33.5
Discount                      20
Weather Condition          Rainy
Holiday/Promotion              0
Competitor Pricing         29.69
Seasonality               Autumn
Name: 0, dtype: object

In [ ]:
print(data.iloc[0])

Date                  01-01-2022
Store ID                    S001
Product ID                 P0001
Category               Groceries
Region                     North
Inventory Level              231
Units Sold                   127
Units Ordered                 55
Demand Forecast           135.47
Price                       33.5
Discount                      20
Weather Condition          Rainy
Holiday/Promotion              0
Competitor Pricing         29.69
Seasonality               Autumn
Name: 0, dtype: object

In [ ]:
print(data.iloc[:, [0, 2]])

             Date Product ID
0      01-01-2022      P0001
1      01-01-2022      P0002
2      01-01-2022      P0003
3      01-01-2022      P0004
4      01-01-2022      P0005
...           ...        ...
73095  01-01-2024      P0016
73096  01-01-2024      P0017
73097  01-01-2024      P0018
73098  01-01-2024      P0019
73099  01-01-2024      P0020

[73100 rows x 2 columns]

In [ ]:
print(data.isnull())

        Date  Store ID  Product ID  Category  Region  Inventory Level  \
0      False     False       False     False   False            False
1      False     False       False     False   False            False
2      False     False       False     False   False            False
3      False     False       False     False   False            False
4      False     False       False     False   False            False
...      ...       ...         ...       ...     ...              ...
73095  False     False       False     False   False            False
73096  False     False       False     False   False            False
73097  False     False       False     False   False            False
73098  False     False       False     False   False            False
73099  False     False       False     False   False            False

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0           False          False            False  False     False
1           False          False            False  False     False
2           False          False            False  False     False
3           False          False            False  False     False
4           False          False            False  False     False
...           ...            ...              ...    ...       ...
73095       False          False            False  False     False
73096       False          False            False  False     False
73097       False          False            False  False     False
73098       False          False            False  False     False
73099       False          False            False  False     False

       Weather Condition  Holiday/Promotion  Competitor Pricing  Seasonality
0                  False              False               False        False
1                  False              False               False        False
2                  False              False               False        False
3                  False              False               False        False
4                  False              False               False        False
...                  ...                ...                 ...          ...
73095              False              False               False        False
73096              False              False               False        False
73097              False              False               False        False
73098              False              False               False        False
73099              False              False               False        False

[73100 rows x 15 columns]

In [ ]:
clean_data = data.dropna()

In [ ]:
data["Units Sold"].fillna(25, inplace=True)

<ipython-input-65-e582f4eec2ab>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Units Sold"].fillna(25, inplace=True)

In [ ]:
data.replace("Toys ", "Games", inplace=True)

In [ ]:
data.rename(columns={"Units Sold": "Solded Units"}, inplace=True)

In [ ]:
print(data["Solded Units"].sum())

9975582

In [ ]:
print(data["Solded Units"].mean())

136.46487004103966

In [ ]:
print(data["Solded Units"].count())

73100

In [ ]:
sorted_data = data.sort_values(by="Store ID")
sorted_data

,Date,Store ID,Product ID,Category,Region,Inventory Level,Solded Units,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,01-01-2022,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
60402,28-08-2023,S001,P0003,Toys,East,326,226,26,245.65,49.62,15,Cloudy,0,49.89,Summer
60401,28-08-2023,S001,P0002,Electronics,East,127,5,131,-0.17,62.05,0,Rainy,0,58.40,Summer
60400,28-08-2023,S001,P0001,Electronics,North,190,189,159,194.14,94.51,15,Sunny,0,95.96,Spring
12700,08-05-2022,S001,P0001,Clothing,South,103,6,120,13.10,30.86,5,Snowy,0,35.02,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60399,27-08-2023,S005,P0020,Furniture,South,363,72,76,74.53,30.65,0,Sunny,0,33.26,Summer
12699,07-05-2022,S005,P0020,Furniture,North,203,191,181,188.76,77.58,20,Snowy,1,73.03,Autumn
12698,07-05-2022,S005,P0019,Clothing,West,77,2,52,-5.92,55.08,5,Rainy,0,56.29,Spring
60387,27-08-2023,S005,P0008,Clothing,East,417,115,189,120.75,38.19,20,Cloudy,1,41.24,Summer
73099,01-01-2024,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [ ]:
print(data[data["Inventory Level"] > 100])

             Date Store ID Product ID     Category Region  Inventory Level  \
0      01-01-2022     S001      P0001    Groceries  North              231
1      01-01-2022     S001      P0002         Toys  South              204
2      01-01-2022     S001      P0003         Toys   West              102
3      01-01-2022     S001      P0004         Toys  North              469
4      01-01-2022     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73094  01-01-2024     S005      P0015    Furniture  North              408
73096  01-01-2024     S005      P0017         Toys  North              313
73097  01-01-2024     S005      P0018     Clothing   West              278
73098  01-01-2024     S005      P0019         Toys   East              374
73099  01-01-2024     S005      P0020    Groceries   East              117

       Solded Units  Units Ordered  Demand Forecast  Price  Discount  \
0               127             55           135.47  33.50        20
1               150             66           144.04  63.01        20
2                65             51            74.02  27.99        10
3                61            164            62.18  32.72        10
4                14            135             9.26  73.64         0
...             ...            ...              ...    ...       ...
73094           323             92           336.64  83.26         0
73096            51            101            48.43  82.57        10
73097            36            151            39.65  11.11        10
73098           264             21           270.52  53.14        20
73099             6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73094             Sunny                  0               80.96      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[64886 rows x 15 columns]

In [ ]:
df1 = pd.DataFrame({"A": [1, 2]})
df2 = pd.DataFrame({"A": [3, 4]})
result = pd.concat([df1, df2])
print(result)

   A
0  1
1  2
0  3
1  4

In [ ]:
df1 = pd.DataFrame({"ID": [1, 2], "Name": ["Alice", "Bob"]})
df2 = pd.DataFrame({"ID": [1, 2], "Age": [24, 30]})
merged = pd.merge(df1, df2, on="ID")
print(merged)

   ID   Name  Age
0   1  Alice   24
1   2    Bob   30

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
kf

KFold(n_splits=5, random_state=42, shuffle=True)